* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: snow;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}

.header {
    background-color: #0da0e6;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    padding-right: 20px;
    line-height: 50px;
    display: inline-block;
    font-size: 1.2em;
    color: #e6c00d;
    font-weight: 400;
}

.nav-item:last-child .nav-link {
    padding: 0;
}

.nav-link:hover {
    color: #faecab;
    font-weight: 700;
    transition: color .5s;
}

.main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#profile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 7px solid #ba7f0f;
}

#profile img {
    border-radius: 150px;
}

.profile-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: 0.3em;
}

.section {
    width: 48%;
    padding: 30px 0;
    margin: 0 1%;
    font-family: 'Roboto', sans-serif;
    color: #5C5C5C;

}

.section:nth-child(n+4) {
    border-top: 2px solid #ba7f0f;
}

.title-section {
    text-align: center;
    letter-spacing: 0.3em;
}

.footer {
    background-color: #0da0e6;
}
